<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.1.xsd">
	<context:component-scan base-package="action,dao,service" />
<!-- 	<context:component-scan base-package="dao" />
	<context:component-scan base-package="service" /> -->
	<bean id="classDao" class="dao.ClassDaoImpl"></bean>
	<bean id="classService" class="service.ClassServiceImpl">
		<property name="classDao" ref="classDao" />
	</bean>
	<bean id="classAction" class="action.ClassAction" scope="prototype">
		<property name="classService" ref="classService" />
	</bean>
</beans>