<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- 指定方言 -->
		<property name="hibernate.dialect">
			org.hibernate.dialect.MySQLDialect
		</property>
		<!-- 数据库驱动 -->
		<!-- <property name="hibernate.connection.driver_class">
			com.mysql.jdbc.Driver
		</property> -->
		<property name="connection.driver_class">com.p6spy.engine.spy.P6SpyDriver</property>
		<!-- 连接数据库的uri -->
		<property name="hibernate.connection.url">
			jdbc:p6spy:mysql://localhost:3306/student
		</property>
		<!-- 数据库用户名 -->
		<property name="hibernate.connection.username">root</property>
		<!-- 数据库密码 -->
		<property name="hibernate.connection.password"></property>
		<!-- 其他配置 -->
		<!-- 控制台显示sql语句 -->
		<property name="hibernate.show_sql">true</property>
		<!-- 格式化sql语句 -->
		<property name="formate_sql">true</property>
		<!-- 用来关联hbm配置文件 -->
		<mapping resource="model/Student.hbm.xml" />
		<mapping resource="model/Class.hbm.xml" />
	</session-factory>
</hibernate-configuration>